<!-- Page Heading -->
<h1 class="my-4">Add Exercises to Your Workout<br>
  <i><%=@workout.title%>
</i></h1>

<div class="row">
  <div class="col-lg-4 col-sm-6 portfolio-item">

  <% if @workout.exercises.empty? %>
    <p class="red">Wow, such empty.</p>
    <% else %>
      <ul>
        <% @workout.exercises.each do |exercise| %>
          <li><%=exercise.name%></li>
        <% end %>
      </ul>
  <% end %>
  </div>
</div>

<h3 class="my-4"><span><%= link_to "Save Exercises", edit_workout_path, :class => "badge badge-info" %></span></h3>


  <%= form_tag(add_exercise_path, method: :get) do %>

  <div class="form-group">
  <%= label_tag "Select by Category" %>
  <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), {:include_blank => "Choose a Category"} %>

  <%= label_tag "Search Exercise by Name" %>
  <%= text_field_tag :search, params[:search], placeholder: "example: plank"%>

  <%= submit_tag "Search", :class => "btn btn-secondary"%>
    </div>
  <% end %>


<div class="row">
  <% @exercises.each do |exercise| %>
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <%= image_tag("workout_photos/#{exercise.image}", class:"card-img-top", width:'700', height:"auto") %>
      <div class="card-body flex flex-column">
        <h4 class="card-title">
          <a href=<%="#{exercise_path(exercise)}"%>><%=exercise.name%></a>
        </h4>
        <p class="card-text"> <%= exercise.description %></p>
        <%= button_to "add exercise", add_the_exercises_path, method: :patch, params:{workout:{exercise:{exercise_id: exercise.id, exercise_name: exercise.name}}}, :class=>"btn btn-light" %>
      </div>

    </div>
  </div>
  <% end %>
</div>
<!-- /.row -->


<!-- I want each exercise to have a checkbox or button to add it-->
<!-- to the current workout. This workout will be accessed through-->
<!-- the session? or should I make it like a cart?-->

<!-- This page should also have a back button to go back to the -->
<!-- current workout that I am trying to edit. -->
