<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<div class="workout">



<a href="<%= user_path(@user) %>" class="btn btn-light btn-lg float-right">Back to My Workouts</a>


<!-- Portfolio Item Heading -->
<h1 class="my-4"> <span><%= @workout.title %>
    <%= button_to "Edit", edit_workout_path, :method => "get", :class=> "btn btn-secondary" %></span></h1>




 <!-- Portfolio Item Row -->
 <div class="row">

   <div class="col-md-8">
     <%= image_tag("workout_photos/#{@workout.image}", class:"img-fluid", width:'500', height:"auto") %>
   </div>

   <div class="col-md-4">
     <h3 class="my-3"><%= pluralize(@workout.sets, "Set")%></h3>



     <br>

       <% if @workout.exercises.empty? %>
         <p>There are no exercises to be displayed. Edit this workout to add an exercise.</p>
       <% else %>
         <ul>
         <% @workout.exercises.each do |exercise| %>
            <li><%= exercise.name %></li>
         <% end %>   <!--  end of loop displaying exercises-->
         </ul>
        <% end %>
     <h3 class="my-3">Notes:</h3>
     <p><%= @workout.notes %></p>
   </div>

 </div>
 <!-- /.row -->

</div>
<!-- Will have an option to delete it-->
