<% if flash[:success] %>
  <%= flash[:success] %>
<% end %>

<h2><%= @workout.title %></h2>
<h4>by <%= @workout.user.first_name %></h4>

<h5><%= pluralize(@workout.sets, "Set") %></h5>

<!-- The workout will display all of the exercises -->
<ul>
<% @workout.exercises.each do |exercise| %>
  <li><%= exercise.name %></li>
<% end %>
</ul>

<br>

<h4>Notes:</h4>
<%= @workout.notes %>

<%= button_to "edit this workout", edit_workout_path, :method => "get" %>


<!-- Will have an option to edit the workout, or delete it-->
