

<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<div class="work">
<a href="<%= user_path(@user) %>" class="btn btn-light btn-lg float-right">Back to My Profile</a>

<!-- Portfolio Item Heading -->
<span><h1 class="my-4"> <%= @workout.title %>
    <%= button_to "Edit", edit_workout_path, :method => "get", :class=> "btn btn-info" %></h1></span>




 <!-- Portfolio Item Row -->
 <div class="row">

   <div class="col-md-6">
     <%= image_tag("workout_photos/#{@workout.image}", class:"img-fluid", width:'500', height:"auto") %>
   </div>

   <div class="col-md-6">
     <h3 class="my-3"><%= pluralize(@workout.sets, "Set")%></h3>

<h3 class="my-3">Exercises:</h3>
<div>
       <% if @workout.exercises.empty? %>
         <p class="red">Let's get moving!</p>
         <p class="red">Edit this workout to add an exercise.</p>
       <% else %>
         <ul>
         <% @workout.exercises.each do |exercise| %>
            <li><%= exercise.name %></li>
         <% end %>   <!--  end of loop displaying exercises-->
         </ul>
        <% end %>
        </div>
        <div class="form-group">


     <h3 class="my-3">Notes:</h3>
     <p class="form-control" id="exampleFormControlTextarea1" rows="3"><%= @workout.notes %></p>
     </div>
   </div>

 </div>
 <!-- /.row -->

</div>
<!-- Will have an option to delete it-->
