<% if flash[:success] %>
  <%= flash[:success] %>
<% end %>

<h1><%= @workout.title %></h1>
<h2>by <%= @workout.user.first_name %></h2>

<h2><%= pluralize(@workout.sets, "Set") %></h2>

<!-- The workout will display all of the exercises -->
<ul>
<% @workout.exercises.each do |exercise| %>
  <li><%= exercise.name %></li>
<% end %>
</ul>

<br>

<h4>Notes:</h4>
<%= @workout.notes %>
<br>
<%= button_to "edit this workout", edit_workout_path, :method => "get" %>
<br>

<%= link_to "My Profile", @user %>

<!-- Will have an option to edit the workout, or delete it-->
