
<!-- Portfolio Item Heading -->
 <h1 class="my-4">Workouts That Work For You
 </h1>

 <!-- Portfolio Item Row -->
 <div class="row">

   <div class="col-md-8">
     <img class="img-fluid" src="victor-freitas-546919-unsplash.jpg" width="500" height = "auto" >
   </div>

   <div class="col-md-4">

     <h3 class="my-3">Log In</h3>
     <p>Or <%= link_to 'sign up', new_user_path %> to make a new account.
       <% if flash[:notice] %>
         <%= flash[:notice] %>
       <% end %>
     <br>

     <%= form_for @user, url: login_path, method: :post do |f| %>

       <%= f.label "Email:" %>
       <%= f.text_field :email, placeholder: "email address" %><br>

       <%= f.label "Password:" %>
       <%= f.password_field :password, placeholder: "password" %><br>

       <%= f.submit 'Log In' %>
     <% end %>
     </p>

 </div>
 <!-- /.row -->
