<h1>Welcome, <%= @user.first_name%> <%=@user.last_name%>!</h1>

<p>Email: <%= @user.email %></p>

<h2>My Workouts</h2>

<ul>
  <% @workouts.each do |workout| %>
    <li><h3><%= link_to workout.title, workout_path(workout) %></h3></li>
  <!-- will change this to a clickable image-->
  <% end %>
</ul>
<br>
<p><%= link_to "Create a new workout", new_workout_path%></p>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
<%= submit_tag "logout" %>
<% end %>

<!--link_to @user.workouts.count, user/workouts/ -->
<!-- The show page will also display -->
<!-- a link to a user's workouts (in grid form)-->
<!-- which is the index page of that user's -->
<!-- workouts. User will be able to click -->
<!-- on an individual workout which will redirect -->
<!-- to that workout's show page -->
