<h2>Welcome, <%= @user.first_name%> <%=@user.last_name%>!</h2>

<p><%= @user.email %></p>
<p><%= @user.birthday %></p>

<h3>You have <%= pluralize(@user.workouts.count, "workout")%> </h3>
<p><%= link_to "Create a new workout", new_workout_path%></p>


<!--link_to @user.workouts.count, user/workouts/ -->
<!-- The show page will also display -->
<!-- a link to a user's workouts (in grid form)-->
<!-- which is the index page of that user's -->
<!-- workouts. User will be able to click -->
<!-- on an individual workout which will redirect -->
<!-- to that workout's show page -->
